@import "tailwindcss";

@plugin "daisyui" {
    themes: all
}

/* Add cursor to pointer to buttons by default - (Source: tailwindcss Docs) */
@layer base {

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}